$fontfamily : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$boxShadow : 0 0 5px 3px rgba(0,0,0,0.3);
$dropListBoxShadow: 4px 4px 2px 1px #ddd;
$borderLine : 1px solid #e0e0e0;
$grayBorderLine: 1px solid #ccc;
$greenBorderLine: 1px solid #addbad;
$menuShodow : #aaa 0px 0px 15px;
$grayFontColor : #333;
$commonFontColor: #00a464;
$placeholderColor: #999;
$hoverbackgroundcolor : #00a464;
$normalBtnBackgroundColor: #00a464;
$hoverBtnBackgroundColor: #01d180;
$disabledBtnBackgroundColor: #999;
$no-normalBtnBackgroundColor: #666;
$no-hoverBtnBackgroundColor: #999;
